@tailwind base;
@tailwind components;
@tailwind utilities;

/*=======================================================================
1. Variables
========================================================================*/
:root {
  --font-family-body: var(--font-poppins), sans-serif;
  --font-family-heading: var(--font-nunito), sans-serif;
  --font-family-architects: var(--font-architects-daughter), cursive;

  --color-primary: #4eb92d;
  --color-secondary: #fc9135;

  --color-text-body: #696969;
  --color-text-heading: #41464c;
  --color-text-paragraph: #696969;

  --facebook: #3b5998;
  --twitter: #00acee;
  --linkedin: #1976d2;
  --pinterest: #3b5998;
  --youtube: #c4302b;
  --skype: #00aff0;
}

/*=======================================================================
2. Theme default css
========================================================================*/
body {
  font-family: var(--font-family-body);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-text-body);
  font-style: normal;
}
